.scrollpicker-root {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.scrollpicker-columns {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-top: none;
    border-bottom: none;
    align-self: center;
}


.scrollpicker-selection {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.02) inset, 0 -8px 16px rgba(0,0,0,0.02) inset;
}

.scrollpicker-submit {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    align-self: center;
    cursor: pointer;
    border: 1px solid #000000;
    &:hover {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
    }
    &:active {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    }
}
