.scrollcolumn-container {
    height: 250px; /* 50 * 5 */
    overflow-y: auto;
    position: relative;
    text-align: center;
    scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scroll-snap-type: y proximity;
}



.scrollcolumn-inner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.scrollcolumn-item {
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    color: #8a8a8a;
    user-select: none;
    transition: color 120ms ease, transform 120ms ease;
    scroll-snap-align: center;
}

.scrollcolumn-item-selected {
    font-weight: normal;
    color: black;
}

@media (min-width: 300px) {
    .scrollcolumn-item {
        font-size: 4vw;
    }
    .scrollcolumn-item-selected {
        font-size: 4vw;
    }

}
@media (min-width: 600px) {
    .scrollcolumn-item {
        font-size: 3vw;
    }
    .scrollcolumn-item-selected {
        font-size: 3vw;
    }

}
@media (min-width: 1200px) {
    .scrollcolumn-item {
        font-size: 1vw;
    }
    .scrollcolumn-item-selected {
        font-size: 1vw;
    }

}
